/* styles.css */

/* Import the 'Press Start 2P' font for a retro look */
body {
    font-family: 'Press Start 2P', cursive;
    background: url('5006.png') repeat;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    text-align: center;
    position: relative;
}

header {
    width: 100%;
    background: linear-gradient(to right, #5f62ff, #ffc371);
    color: #fff;
    text-align: center;
    border-bottom: 4px solid #333;
    position: absolute;
    top: 0;
    left: 0;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;  /* Added padding to provide space around text */
}

header h1 {
    font-size: calc(8px + 1vw);
    margin: 0;
    white-space: pre-wrap;  /* Allows text to wrap */
    text-align: center;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    header {
        height: auto;  /* Allow header height to adjust based on content */
        padding: 0.5rem 1rem;  /* Adjust padding as needed */
    }
    header h1 {
        font-size: 3vw;  /* Adjust font size for small screens */
        line-height: 1.2;
    }
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav ul li {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 5px #000;
    font-size: 1rem;
    padding: 10px 20px;
    border: 2px solid #fff;
    background: linear-gradient(145deg, #ff6ec4, #7873f5);
    box-shadow: 5px 5px 0 #333;
}

/* Style for scattered images */
.image-container {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allows clicks to pass through to the nav links */
}

.scattered-image {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    pointer-events: none; /* Allows clicks to pass through to the nav links */
}

.img1 {
    top: 30%;
    left: 15%;
}

.img2 {
    top: 80%;
    left: 13%;
    transform: rotate(-10deg);
}

.img3 {
    top: 30%;
    left: 80%;
    transform: rotate(15deg);
}

.img4 {
    top: 70%;
    left: 60%;
    transform: rotate(-5deg);
}

.img5 {
    top: 50%;
    left: 28%;
    transform: rotate(10deg);
}
.img6 {
    top: 80%;
    left: 38%;
    transform: rotate(10deg);
}

.img7 {
    top: 80%;
    left: 80%;
    transform: rotate(10deg);
}

.img8 {
    top: 10%;
    left: 45%;
    transform: rotate(-10deg);
}

.img9 {
    top: 10%;
    left: 10%;
}


/* Style the footer */
footer {
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff5f6d, 0 0 30px #ff5f6d, 0 0 40px #ff5f6d, 0 0 50px #ff5f6d, 0 0 60px #ff5f6d, 0 0 70px #ff5f6d;
}
